button {
    display: block;
    margin-bottom: 16px;
}

.beautiful {

    padding: 8px 16px;
    background-color: aquamarine;
    color: brown;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}